In [44]:
import pandas as pd 
import numpy as np

In [59]:
#Load data into dataframe
df = pd.read_csv("../Data/webmd.csv")
df.describe()

,DrugId,EaseofUse,Effectiveness,Satisfaction,UsefulCount
count,362806.000000,362806.000000,362806.000000,362806.000000,362806.000000
mean,36879.370774,4.019829,3.532061,3.135408,6.744916
std,52624.412971,1.317711,1.455961,1.611106,9.324240
min,1.000000,1.000000,1.000000,1.000000,0.000000
25%,4896.000000,3.000000,3.000000,1.000000,1.000000
50%,9548.000000,5.000000,4.000000,3.000000,4.000000
75%,63522.000000,5.000000,5.000000,5.000000,9.000000
max,178546.000000,10.000000,10.000000,10.000000,255.000000

### Preprocess data

#### 1. Restrict condition to "Osteoporosis"

In [62]:
#filter out records contain "osteoporosis"
df_os = df[df["Condition"].str.contains("Osteoporosis", case=False)] 
df_os.shape

(2278, 12)

##### 2. Remove null values based on column Age

In [69]:
# age_buckets = ['25-34',
#  '65-74',
#  '45-54',
#  '75 or over',
#  '55-64',
#  '35-44',
#  '19-24',
#  '13-18',
#  '7-12']

# df_os = df_os[df_os["Age"].isin(age_buckets)]
# df_os.shape

##### 3. Drop duplicates based on column Reviews

In [63]:
df_os = df_os.drop_duplicates(['Reviews'])#drop duplicates
df_os.shape

(1363, 12)

#### 4. Drop nulls based on column Sex

In [58]:
# df_os = df_os[df_os["Sex"].isin(["Female","Male"])]
# df_os.shape

### Satisfaction, Ease of use, and Effectiveness across different age groups

* Average satisfaction of different age groups

* Average ease of use of different age groups
   
* Average effectiveness of different age groups

In [16]:
#get the number of review for different drugs
tmp = df_os.groupby("Drug").count().reset_index()
tmp[["Drug","Reviews"]].sort_values(by="Reviews", ascending=False)

                                                Drug  Reviews
26                          reclast bottle, infusion      357
25                                    prolia syringe      177
2                 actonel tablet osteoporosis agents       92
3                                            atelvia       45
33                                       zometa vial       11
1                               actonel 35 mg tablet       11
32                              zoledronic acid vial        5
29                                           viactiv        4
28                                risedronate sodium        4
23                                 os-cal 500-vit d3        3
15                              citracal + d maximum        3
14                                      citracal + d        2
30                                        vitamin d3        2
16                         citracal-vitamin d tablet        2
17                                           drisdol        2
13  calcium-magnesium-zinc 333 mg-133 mg-5 mg tablet        1
9                            calcium 600 + vitamin d        1
4                          bio-d-mulsion forte drops        1
31                                 vitamin d3 tablet        1
5                                          c calcium        1
6                                           calcidol        1
7                                         calcitrate        1
27                                          replesta        1
8                                 calcitrate + vit d        1
24                                  oyster shell + d        1
12            calcium citrate 200 mg (950 mg) tablet        1
10                  calcium 600 mg (1,500 mg) tablet        1
22                                            mepron        1
21                              men's potent formula        1
20                                          lotensin        1
19                        liquid calcium + vitamin d        1
18                                            duavee        1
11                                calcium 600-vit d3        1
0                                            actical        1

In [17]:
#get the review count for each drug from female only
tmp = df_os[df_os["Sex"]=="Female"].groupby("Drug").count().reset_index()
tmp[["Drug","Reviews"]].sort_values(by="Reviews", ascending=False)

                                                Drug  Reviews
22                          reclast bottle, infusion      343
21                                    prolia syringe      174
2                 actonel tablet osteoporosis agents       83
3                                            atelvia       43
29                                       zometa vial       10
1                               actonel 35 mg tablet       10
25                                           viactiv        4
24                                risedronate sodium        4
14                              citracal + d maximum        3
28                              zoledronic acid vial        3
26                                        vitamin d3        2
19                                 os-cal 500-vit d3        2
16                                           drisdol        2
15                         citracal-vitamin d tablet        2
13                                      citracal + d        2
12  calcium-magnesium-zinc 333 mg-133 mg-5 mg tablet        1
11            calcium citrate 200 mg (950 mg) tablet        1
17                                            duavee        1
18                        liquid calcium + vitamin d        1
10                                calcium 600-vit d3        1
20                                  oyster shell + d        1
9                   calcium 600 mg (1,500 mg) tablet        1
8                            calcium 600 + vitamin d        1
23                                          replesta        1
7                                 calcitrate + vit d        1
6                                         calcitrate        1
5                                          c calcium        1
27                                 vitamin d3 tablet        1
4                          bio-d-mulsion forte drops        1
0                                            actical        1

In [18]:
#average satisfaction/easeofuse/effectiveness of different age groups: both male and female
ave_os = df_os[["Age","Satisfaction","EaseofUse","Effectiveness"]]
ave_os.groupby("Age").mean()

            Satisfaction  EaseofUse  Effectiveness
Age
13-18           5.000000   5.000000       3.000000
19-24           1.000000   1.000000       3.000000
25-34           1.714286   3.000000       2.857143
35-44           2.277778   3.388889       2.333333
45-54           2.587786   3.511450       2.587786
55-64           2.480243   3.534954       2.510638
65-74           2.361111   3.327778       2.455556
7-12            3.000000   3.000000       3.000000
75 or over      2.070423   3.098592       2.084507

In [19]:
#average satisfaction/easeofuse/effectiveness of different age groups: female only
ave_os_2 = df_os[df_os["Sex"]=="Female"][["Age","Satisfaction","EaseofUse","Effectiveness"]]
ave_os_2.groupby("Age").mean()

            Satisfaction  EaseofUse  Effectiveness
Age
13-18           5.000000   5.000000       3.000000
19-24           1.000000   1.000000       3.000000
25-34           1.750000   3.000000       2.250000
35-44           2.176471   3.294118       2.235294
45-54           2.620968   3.500000       2.588710
55-64           2.496875   3.537500       2.528125
65-74           2.360465   3.308140       2.465116
75 or over      1.952381   3.079365       1.968254

### Average Ratings for Top 3 Drugs

In [20]:
#average ratings for reclast bottle, infusion
ave_reclast = df_os[df_os["Drug"]=="reclast bottle, infusion"][["Age","Sex","Satisfaction","EaseofUse","Effectiveness"]]
# ave_reclast[ave_reclast["Sex"]=="Female"].groupby("Age").mean()#female
# ave_reclast[ave_reclast["Sex"]=="Male"].groupby("Age").mean()#male

In [21]:
#average ratings for prolia syringe
ave_prolia = df_os[df_os["Drug"]=="prolia syringe"][["Age","Sex","Satisfaction","EaseofUse","Effectiveness"]]
# ave_prolia[ave_prolia["Sex"]=="Female"].groupby("Age").mean()#female
# ave_prolia[ave_prolia["Sex"]=="Male"].groupby("Age").mean()#male

In [22]:
#average ratings for actonel tablet osteoporosis agents
ave_act = df_os[df_os["Drug"]=="actonel tablet osteoporosis agents"][["Age","Sex","Satisfaction","EaseofUse","Effectiveness"]]
# ave_act[ave_act["Sex"]=="Female"].groupby("Age").mean()#female
# ave_act[ave_act["Sex"]=="Male"].groupby("Age").mean()#male

#### Average Ratings for Non-injectable vs. injectable medications

In [23]:
#average ratings for  injectable drugs
injectable_drugs =  ['prolia syringe','reclast bottle, infusion','zometa vial','zoledronic acid vial']
injectable_df = df_os[df_os["Drug"].isin(injectable_drugs)]
injectable_df.shape

(550, 12)

In [24]:
injectable_df = injectable_df[["Age", "Sex", "Satisfaction", "EaseofUse", "Effectiveness"]]
injectable_df[injectable_df["Age"].isin(["75 or over"])].mean()

C:\Users\Opal.Yang\AppData\Local\Temp\ipykernel_25576\1809952351.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  injectable_df[injectable_df["Age"].isin(["75 or over"])].mean()

Satisfaction     1.943396
EaseofUse        3.056604
Effectiveness    1.943396
dtype: float64

In [25]:
#average ratings for  infused drugs
infused_drugs = ['liquid calcium + vitamin d', 'oyster shell + d', 'atelvia','actonel tablet osteoporosis agents','actonel 35 mg tablet','calcium citrate 200 mg (950 mg) tablet',
'calcium 600 mg (1,500 mg) tablet', 'calcium 600 + vitamin d','calcitrate + vit d', 'citracal-vitamin d tablet',
'citracal + d', 'citracal + d maximum', 'c calcium','calcium-magnesium-zinc 333 mg-133 mg-5 mg tablet', 'vitamin d3 tablet',
'vitamin d3', 'os-cal 500-vit d3', 'risedronate sodium', 'bio-d-mulsion forte drops', 'risedronate sodium', 'replesta',
'duavee','viactiv', 'actical','calcitrate', 'drisdol']
infused_df = df_os[df_os["Drug"].isin(infused_drugs)]
infused_df.shape

(184, 12)

In [26]:
infused_df = infused_df[["Age", "Sex", "Satisfaction", "EaseofUse", "Effectiveness"]]
infused_df[infused_df["Age"].isin(["75 or over"])].mean()

C:\Users\Opal.Yang\AppData\Local\Temp\ipykernel_25576\3525007837.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  infused_df[infused_df["Age"].isin(["75 or over"])].mean()

Satisfaction     2.529412
EaseofUse        3.352941
Effectiveness    2.588235
dtype: float64